

<table width="100%" style="padding:15px;">
    <tr height="300px">
        <td style="text-align:left" width="300px">
            <%= image_tag(@artist.profile_picture, {class: ""})%>
        </td>
        <td width="*" style="vertical-align:bottom;" height="300px">
            <span class='h4'> <%= @artist.name %> </span>

            <% if session[:user_id] > 0 %>
                <% if @artist.users.exists?(session[:user_id]) %>
                    <div class="like"  id="<%= @artist.id %>">liked</div>
                <% else %>
                    <div class="liked" id="<%= @artist.id %>">like</div>
                <% end%>
            <% else %>
                <div class="signup-link">signup to like</div>
            <% end %>

            <hr color="#555555" height="1px">
            <p class="titles">
            <b>
            <%= @artist.address1 %><br /></b>
            <%= @artist.address2 %><br />
            <%= @artist.city %>, <%= @artist.state %><p></p><p class="titles">
            <%= @artist.phone %><br />
            <%= @artist.email %>
            </p>
        </td>
        
    </tr>
    <tr>
        <td colspan="2">    
            <span style="font-size:20px; font-weight:bold">Sample Arts</span><br>
            <% @images.each do |image| %>
                <%= image_tag(image.path + image.name, {class: "medium", id: image.id}) %>
            <% end %>
        </td>
    </tr>
</table>
    





