<h1> This is info page for artist </h1>

Artist's info

<%= @artist.name %>
<%= @artist.address1 %>
<%= @artist.address2 %>
<%= @artist.city %>
<%= @artist.state %>
<%= @artist.phone %>
<%= @artist.email %>
<%= image_tag(@artist.profile_picture, {class: "medium"})%>

Put like button here

Artist's images
<% @images.each do |image| %>
	<%= image_tag(image.path + image.name, {class: "medium", id: "id"}) %>
<% end %>





