

<table width="100%" style="padding:15px;">
    <tr height="300px">
        <td style="text-align:left" width="300px">
            <%= image_tag(@artist.profile_picture, {class: ""})%>
        </td>
        <td width="*" style="vertical-align:bottom;" height="300px">
            <span class='h4'> <%= @artist.name %> </span>
            <hr color="#555555" height="1px">
            <p class="titles">
            <b>
            <%= @artist.address1 %><br /></b>
            <%= @artist.address2 %><br />
            <%= @artist.city %>, <%= @artist.state %><p></p><p class="titles">
            <%= @artist.phone %><br />
            <%= @artist.email %>
            </p>
        </td>
        
    </tr>
    <tr>
        <td colspan="2">    
            <span style="font-size:20px; font-weight:bold">Sample Arts</span><br>
            &nbsp;&nbsp;&nbsp;
            <% @images.each do |image| %>
                <%= image_tag(image.path + image.name, {class: "medium", id: "id"}) %>
            <% end %>
        </td>
    </tr>
</table>
    





