<script>


function setsearch() {
	if (document.getElementById) {
		var windowHeight = getWindowHeight();
		var windowWidth = document.documentElement.clientWidth;
		if (windowHeight > 0) {
			var contentElement = document.getElementById('infoPanel');
			var contentHeight = contentElement.offsetHeight;
			var contentWidth = contentElement.offsetWidth;
            contentElement.style.height= windowHeight +"px";
            
		
		}
	}
}



window.onresize = function() {
            setsearch();
        }
</script>




<div class = "main-container">
<div class = "content-container" id="contz" style="display:table;"> 

    <div class = "lemenubar">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="left">
    
    <tr height="50px">
    
    
    <td width = "100px"><a href="../">
        <div class = "menubutton"><br>browse</div></a>
    </td>
    <td width = "100px">
    <div class = "menubuttonpressed"><br>artist search</div>
    </td>
    <td width = "100px"><a href="../users/profile">
        <div class = "menubutton"><br>profile</div></a>
    </td>
    
    <td width = "*">
        
    
    </td><td width = "200px" align="right">
    <!---<a href =""><b> MY INKBOX &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   </b></a>-->
    </td></tr></table>
    </div>

<div style="padding-top: 50px;">
<table id="container" >
<!--<tr id="filterPanel"></tr>-->
<tr>

&nbsp;

<td id = "aaa" width = "296px" style="vertical-align:top" >
<div id="artist-filter-bar">
<label>Artist Type:</label>
        <select id="artist-filter" >
            <option value="All">All</option>
            <option value="American Traditional">American Traditional</option>
            <option value="Black and Grey">Black and Grey</option>
            <option value="Horror and Gore">Horror and Gore</option>
            <option value="Japanese Traditional">Japanese Traditional</option>
            <option value="Nature Inspired">Nature Inspired</option>
            <option value="New School">New School</option>
            <option value="Tribal">Tribal</option>
        </select>
</div>
<div id="infoPanel" style="height: 508px;
    overflow:scroll;
    overflow-x: hidden;
    width: 100%">
    


<% Artist.all.each do |artist| %>

<div class="artist-tab inactiveTab" id="<%= artist.id %>">
    
    <span class="artist-name"><%= artist.name %></span>
    <span class="artist-email">(<%= artist.email %>)</span><br>
    <span class="artist-address"><%= artist.address1 %></span><br>
    <span class="artist-email"><%= artist.address2 %></span>

    
</div>


<% end %>

</td>

<td id="artistPanel"><p class="info-message">Click on the tabs on the right to view more details.</p></td>
</tr>
</table>
</div>

</div>




