
<div class = "main-container">
<div class = "content-container"> 

    <div class = "lemenubar">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="left">
    
    <tr height="50px">
    
    
    <td width = "100px"><a href="../users">
        <div class = "menubutton"><br>browse</div></a>
    </td>
    <td width = "100px">
    <div class = "menubuttonpressed"><br>artist search</div>
    </td>
    <td width = "100px"><a href="../users/profile">
        <div class = "menubutton"><br>profile</div></a>
    </td>
    
    <td width = "*">
        
    
    </td><td width = "200px" align="right">
    <a href =""><b> MY INKBOX &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   </b></a>
    </td></tr></table>
    </div>


<table id="container">
<tr>
<td id="infoPanel">
<% Artist.all.each do |artist| %>

<div class="artist-tab inactiveTab" id="<%= artist.id %>">
	
	<h2><%= artist.name %></h2>
	<h2><%= artist.address1 %></h2>
	<h2><%= artist.email %></h2>

	<!---
	6 images by this artist, remove the lines if need less:
	<% @images = [] %>
	<% @images.push(Image.find(artist.id*6)) %>
	<% @images.push(Image.find(artist.id*6+1))%>
	<% @images.push(Image.find(artist.id*6+2))%>
	<% @images.push(Image.find(artist.id*6+3))%>
	<% @images.push(Image.find(artist.id*6+4))%>
	<% @images.push(Image.find(artist.id*6+5))%>

	<% @images.each do |image| %>
	<%= image_tag(image.path + image.name, {class: "class", id: "id"}) %>
<% end %>
-->
    
</div>

<% end %>
</td>
<td id="artistPanel"></td>
</tr>
</table>


</div>