

  <script>
  $(document).ready(function(){
	$('#login-trigger').click(function(){
		$(this).next('#login-content').slideToggle();
		$(this).toggleClass('active');					
		
		if ($(this).hasClass('active')) $(this).find('span').html('&#x25B2;')
			else $(this).find('span').html('&#x25BC;')
		})
    });
</script>


  
  
  <!-- Code for About -->
  
  <div style="display:none">
  <div id="about">

    <table width="746" height="76" style="border-collapse: collapse" bordercolor="#ffffff" cellspacing="0" cellpadding="10">
    <tr><td width="252" rowspan="3" height="56">
    
    <%= image_tag("shared/group.png", {:class=>"put classes here", :id=>'3'}) %>
    </td>
      <td width="504" valign="bottom" height="*">
    <p></p>
    

    
    <%= image_tag("shared/logo_blacksm.png", {:class=>"put classes here", :id=>'3'}) %>
    <br><br>
    <p style="line-height: 150%"><font face="Arial" size="2" color="#666666"><b>Young 
    people </b>getting a<b> first</b> tattoo may have no clue or have 
    misconceptions about the tattooing process. This causes<b> frustration </b>
    between artists &amp; clients.</font></p>
    <p style="line-height: 150%"><font face="Arial" size="2" color="#666666">The goal of 
    this online interface is to take a first step in <b>educating</b> these 
    people getting their first tattoo, so they can <b>kick start</b> their 
    tattooing process with the right mindset and realistic expectations. </font>
    </td></tr>
    <tr>
      <td width="504" valign="bottom" height="1" bgcolor="#EAEAEA"> 
      <p align="right" style="line-height: 100%">
      <font face="Arial" color="#666666" size="2">Kevin Winata Wong<br>
      Ronnachai Tiam Jaroensri<br>
      Gao Guangyan</font></p>
      <p align="right" style="line-height: 100%"><font face="Arial" color="#666666" size="2">MIT 
      <a href="http://stellar.mit.edu/S/course/6/sp13/6.813/index.html">6.813/6.831</a>, Spring 
      2013<br>
      User Interface Design and Implementation</font></td>
    </tr>

  </table>
  
  
</div>
</div>



<div id="centered" align="center"> 

  <table width = "1050px" border="0" style="border-collapse: collapse" cellpadding="0" cellspacing="0" height="423" >
  
  <tr height = "10px" align="right"><td colspan="2">
  
  

  
          <nav>
            <ul>
                <li id="login">
                    <a id="login-trigger" href="#">
                        &nbsp;&nbsp;&nbsp;Log in <span>▼</span>&nbsp;
                    </a>
                    <div id="login-content">
                        <form>
                            <fieldset id="inputs">
                                <input id="username" type="email" name="Email" placeholder="Your email address" required>   
                                <input id="password" type="password" name="Password" placeholder="Password" required>
                            </fieldset>
                            <fieldset id="actions">
                                <input type="submit" id="submit" value="    LOG-IN" style="width:92px;"><br>
                            </fieldset>
                        </form>
                    </div>                     
                </li>
               
            </ul>
        </nav> 
  
  
  
  </td></tr>
  
  
    <tr><td colspan="2">
      <h1>Your first step into the tattoo world.</h1>
    

    <tr><td width = 60% style="padding-left:50px;">
                    
                    <table background="shared/blackt.png"><tr><td>
                     
                    <%= image_tag("shared/infographic.png", {:class=>"put classes here", :id=>'3'}) %>
                    <br>
                    <font color="#FFFFFF" face="Arial" size="2">RocketScienceInk kickstarts your 
                    tattooing process:</font>
                    <ul>
                      <font color="#FFFFFF" face="Arial" size="2"><li>Analyzes tattoos you like</font><font color="#FFFFFF"></li>
                      </font>
                      <font color="#FFFFFF" face="Arial" size="2"><li>Find our about your own 
                      personal style</font><font color="#FFFFFF"></li> </font>
                      <font color="#FFFFFF" face="Arial" size="2"><li>Browse from our database of 
                      artists</font></li>
                    </ul>
                    <font color="#FFFFFF" face="Arial" size="2">And best of all, it's free 
                    and will always be!</font>
                
                    <br><br><br><br>
    
                    </td></tr></table>
        
    
    </td><td width = 40%>
        



      <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" width="375" height="362">
        <tr>
          <td width="375" height="53" colspan="2"><%= image_tag("shared/logo_white.png", {:class=>"put classes here", :id=>'3'}) %> </td>
        </tr>
        <tr>
          <td width="375" height="27" colspan="2">
                

                
          </td>
        </tr>
        <tr>
          <td width="165" height="120"  valign="top"><span class="subheading">signup</span></td>
          <td width="*" height="120">
            <div class="signup-form">

              <%= form_for(@new_user) do |f| %>
              <!---<div class='error_message'><%= f.error_messages %></div>-->
              <!---<div class='error_message'><%= f.error_messages %></div>-->

              <div class='signup-fields'>




                <%= f.label :email, "Username", class: "inputLabel" %>
                <%= f.text_field :email, value: "", class: "inputLabel" %>
                
                <%= f.label :password, "Password" ,class: "inputLabel"  %>
                <%= f.password_field :password, value: ""%>
                
                <%= f.label :password_confirmation, "Retype Password" , class: "inputLabel" %>
                <%= f.password_field :password_confirmation, value: "" %>
               <br>
                <%= f.submit " SIGN-UP", class: "button"%>
                </div>


              
              <% end %>
            </div>

          </td>
        </tr>
        <tr>
          <td width="375" height="28" colspan="2"  valign="top">
            <span class ="subheading">browse</span><br />
            <span class = "loginCaption">Don't want to signup? Browse as guest.</span>
          </td>
        </tr>
        <tr>
          <td width="165" height="32">&nbsp;</td>
          <td width="*" height="32">
           <div class='signup-fields'>
            <br>
            <div align = left>
              <input class="button" onclick="window.open('/guest')" name="commit" type="submit" value=" BROWSE">
            </div>

            <div class = "loginSubs"><br>*your preferences will not be saved.</div>
          </tr>
          <tr height = "50"><td></td></tr>
        </table>

      </td></tr>
    </table>
  </div>



  <div id="bottoms" align="center" class="credits2"> 
    <a id="inline" href="#about"> about</a> &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp; copyright 2013 rocketscienceink
  </div>



  
  
  