


<div id="centered" align="center"> 

  <table width = "1050px" border="0" style="border-collapse: collapse" cellpadding="0" cellspacing="0" height="423" >
    <tr><td colspan="2">
      <h1>Your first step into the tattoo world.</h1>
    </td></tr>

    <tr><td width = 60% style="padding-left:50px;">
                    
                    <table background="shared/blackt.png"><tr><td>
        
                    <%= image_tag("shared/infographic.png", {:class=>"put classes here", :id=>'3'}) %>
                    <p></p>
                
                
                    <p><font color="#FFFFFF" face="Arial" size="2">RocketScienceInk kickstarts your 
                    tattooing process:</font></p>
                    <ul>
                      <font color="#FFFFFF" face="Arial" size="2"><li>Analyzes tattoos you like</font><font color="#FFFFFF"></li>
                      </font>
                      <font color="#FFFFFF" face="Arial" size="2"><li>Find our about your own 
                      personal style</font><font color="#FFFFFF"></li> </font>
                      <font color="#FFFFFF" face="Arial" size="2"><li>Browse from our database of 
                      artists</font></li>
                    </ul>
                    <p><font color="#FFFFFF" face="Arial" size="2">And best of all, it's free 
                    and will always be!</font></p>
                
                    <br><br><br><br>
    
                    </td></tr></table>
        
    
    </td><td width = 40%>
        



      <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" width="375" height="362">
        <tr>
          <td width="375" height="53" colspan="2"><%= image_tag("shared/logo_white.png", {:class=>"put classes here", :id=>'3'}) %> </td>
        </tr>
        <tr>
          <td width="375" height="27" colspan="2">
                

                
          </td>
        </tr>
        <tr>
          <td width="165" height="120"  valign="top"><span class="subheading">signup</span></td>
          <td width="*" height="120">
            <div class="signup-form">

              <%= form_for(@new_user) do |f| %>
              <!---<div class='error_message'><%= f.error_messages %></div>-->
              <!---<div class='error_message'><%= f.error_messages %></div>-->

              <div class='signup-fields'>

                <!--- previous copy
-                  <%= f.label :email, "Email*" %>
-                  <%= f.text_field :email %>
-                  <br>
-                  <%= f.label :password, "Password*" %>
-                  <%= f.password_field :password %>
-                  <br>
-                  <%= f.label :password_confirmation, "Retype password*" %>
-                  <%= f.password_field :password_confirmation %>
-                  <br>
-                  <%= f.submit "SIGNUP"%>-->
 




                <%= f.label :email, "Username", class: "inputLabel" %>
                <%= f.text_field :email, value: "", class: "inputLabel" %>
                
                <%= f.label :password, "Password" ,class: "inputLabel"  %>
                <%= f.password_field :password, value: ""%>
                
                <%= f.label :password_confirmation, "Retype Password" , class: "inputLabel" %>
                <%= f.password_field :password_confirmation, value: "" %>
               <br>
                <%= f.submit " SIGN-UP", class: "button"%>
                </div>

              
              
              
              
              <!--- ggy's copy
              <div class='input'>
                <%= f.label :email, "Username" %>
                <input type="text" name="email" value="username">
                <br />
                <%= f.label :password, "Password" %>
                <input type="text" name="password" value="">
                <br />
                <%= f.label :password_confirmation, "Retype Password" %>
                <input type="text" name="password confrm" value="">
                <br />
                Kevin, how do we change the css for f.button? 

                <br />
                <div align = right><%= f.button "SIGNUP", class: "put classes here"%></div>

              </div>-->
              
              
              
              
              
              <% end %>
            </div>

          </td>
        </tr>
        <tr>
          <td width="375" height="28" colspan="2"  valign="top">
            <span class ="subheading">browse</span><br />
            <span class = "loginCaption">dont want to signup? browse as guest.</span>
          </td>
        </tr>
        <tr>
          <td width="165" height="32">&nbsp;</td>
          <td width="*" height="32">
           <%= form_for(@new_user) do |f| %>
           <!---<div class='error_message'><%= f.error_messages %></div>-->
           <div class='signup-fields'>
            <br>
            <div align = left>
            <%= f.submit " BROWSE", class: "button"%>
            </div>
            <% end %>

            <div class = "loginSubs"><br>your preferences will not be saved.</div>
          </tr>
          <tr height = "50"><td></td></tr>
        </table>

      </td></tr>
    </table>
  </div>



  <div id="bottoms" align="center" class="credits"> 
    <a href=""> about</a> &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; <a href="">help</a> &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; copyright 2013 rocketscienceink
  </div>



