

  


  
  
  <!-- Code for About -->
  
  <div style="display:none">
  <div id="about">
  <table width="900" height="529" style="border-collapse: collapse" bordercolor="#ffffff" cellspacing="0">
    <tr><td width="385" rowspan="3">
    
    
    </td><td width="525" valign="top">
    </td></tr>
    <tr>
      <td width="525" valign="bottom" height="215"> <font color="#666666">
    <br>
    <br>
    <br>
    <br>
    <img border="0" src="front/about.png" width="61" height="13"><p>
    <span style="font-size: 8pt">Welcome and thanks for visiting<br>
    <br>
    Lorem Ipsum</span><p>
    <span style="font-size: 8pt">&nbsp;- name<br>
    <br>
     </font></span></td>
    </tr>
    <tr>
      <td width="525" valign="bottom">
    <p align="right">
    <img border="0" src="front/contact.png" width="83" height="10"></p>
    <p align="right">
    <span style="font-size: 8pt">Email: <br>
    Facebook: <a target="_blank" href="http://www.facebook.com/">
    http://www.facebook.com/s</a></span><br>
    <span style="font-size: 8pt">Ren </span></td>
    </tr>
  </table>
      </div>
    </div>



<div id="centered" align="center"> 

  <table width = "1050px" border="0" style="border-collapse: collapse" cellpadding="0" cellspacing="0" height="423" >
    <tr><td colspan="2">
      <h1>Your first step into the tattoo world.</h1>
    </td></tr>

    <tr><td width = 60% style="padding-left:50px;">
                    
                    <table background="shared/blackt.png"><tr><td>
                     
                    <%= image_tag("shared/infographic.png", {:class=>"put classes here", :id=>'3'}) %>
                    <br>
                    <font color="#FFFFFF" face="Arial" size="2">RocketScienceInk kickstarts your 
                    tattooing process:</font>
                    <ul>
                      <font color="#FFFFFF" face="Arial" size="2"><li>Analyzes tattoos you like</font><font color="#FFFFFF"></li>
                      </font>
                      <font color="#FFFFFF" face="Arial" size="2"><li>Find our about your own 
                      personal style</font><font color="#FFFFFF"></li> </font>
                      <font color="#FFFFFF" face="Arial" size="2"><li>Browse from our database of 
                      artists</font></li>
                    </ul>
                    <font color="#FFFFFF" face="Arial" size="2">And best of all, it's free 
                    and will always be!</font>
                
                    <br><br><br><br>
    
                    </td></tr></table>
        
    
    </td><td width = 40%>
        



      <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" width="375" height="362">
        <tr>
          <td width="375" height="53" colspan="2"><%= image_tag("shared/logo_white.png", {:class=>"put classes here", :id=>'3'}) %> </td>
        </tr>
        <tr>
          <td width="375" height="27" colspan="2">
                

                
          </td>
        </tr>
        <tr>
          <td width="165" height="120"  valign="top"><span class="subheading">signup</span></td>
          <td width="*" height="120">
            <div class="signup-form">

              <%= form_for(@new_user) do |f| %>
              <!---<div class='error_message'><%= f.error_messages %></div>-->
              <!---<div class='error_message'><%= f.error_messages %></div>-->

              <div class='signup-fields'>




                <%= f.label :email, "Username", class: "inputLabel" %>
                <%= f.text_field :email, value: "", class: "inputLabel" %>
                
                <%= f.label :password, "Password" ,class: "inputLabel"  %>
                <%= f.password_field :password, value: ""%>
                
                <%= f.label :password_confirmation, "Retype Password" , class: "inputLabel" %>
                <%= f.password_field :password_confirmation, value: "" %>
               <br>
                <%= f.submit " SIGN-UP", class: "button"%>
                </div>


              
              <% end %>
            </div>

          </td>
        </tr>
        <tr>
          <td width="375" height="28" colspan="2"  valign="top">
            <span class ="subheading">browse</span><br />
            <span class = "loginCaption">Don't want to signup? Browse as guest.</span>
          </td>
        </tr>
        <tr>
          <td width="165" height="32">&nbsp;</td>
          <td width="*" height="32">
           <%= form_for(@new_user) do |f| %>
           <!---<div class='error_message'><%= f.error_messages %></div>-->
           <div class='signup-fields'>
            <br>
            <div align = left>
            <%= f.submit " BROWSE", class: "button"%>
            </div>
            <% end %>

            <div class = "loginSubs"><br>*your preferences will not be saved.</div>
          </tr>
          <tr height = "50"><td></td></tr>
        </table>

      </td></tr>
    </table>
  </div>



  <div id="bottoms" align="center" class="credits2"> 
    <a id="inline" href="#about"> about</a> &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp; copyright 2013 rocketscienceink
  </div>



  
  
  