

  
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>

<script>
        $(document).ready(function() {

        $("a#single_image").fancybox();

        $("a#inline").fancybox({
          'hideOnContentClick': true
        });

        $("a.group").fancybox({
          'transitionIn'	:	'elastic',
          'transitionOut'	:	'elastic',
          'speedIn'		:	600, 
          'speedOut'		:	200, 
          'overlayShow'	:	false
        });
      
    });


</script>
  

  
  
  <!-- Code for About -->
  
  <div style="display:none">
  <div id="about">
  <table width="900" height="529" style="border-collapse: collapse" bordercolor="#ffffff" cellspacing="0">
    <tr><td width="385" rowspan="3">
    
    
    </td><td width="525" valign="top">
    </td></tr>
    <tr>
      <td width="525" valign="bottom" height="215"> <font color="#666666">
    <br>
    <br>
    <br>
    <br>
    <img border="0" src="front/about.png" width="61" height="13"><p>
    <span style="font-size: 8pt">Welcome and thanks for visiting my little 
    presence on the internet.<br>
    <br>
    Discovery Channel says that the world is awesome. It is, but not only is it 
    awesome, it is also incredibly beautiful. I created this website to share 
    some of this beauty and awesomeness I have discovered. <br>
    <br>
    This website is divided into a few main subpages, documenting some of the 
    projects I've embarked on, showcasing some of the art works and photographs 
    I've created, as well as other curiosities and miscellaneous things I hope 
    to share and inspire others. I guess this site is a tangled amalgamation of 
    science, technology, art and life. Kind of how my life is like. Things 
    always get busy though; you could say this site is perpetually under 
    construction as I try to balance updating the site with the business of real 
    life.<br>
    <br>
    I am currently an undergraduate student in the Massachusetts Institute of Technology, 
    studying Electrical Engineering and Computer Science. It's a path I'm still continually
    exploring and discovering. I wish to thank my 
    Alma Maters Raffles Junior College, Raffles Institution, Nan Hua Primary and 
    Radin Mas Primary for the amazing opportunities they have given me, the 
    fantastic education, and the great memories. I was born 
    and raised in sunny Singapore, which by the way, is very nice :).</span><p>
    <span style="font-size: 8pt">To list all my interests would require a 
    prohibitively long page. But other than milling around with schoolwork 
    (which you must know is not important in life), I enjoy working on random 
    side-projects in my free time, taking photographs, climbing rocks and 
    mountains, cycling and ice-skating, doing a little bit of art and music, and 
    trying to bring some joy into this world.<br>
    <br>
    This website is dedicated to my family and friends, who never stopped 
    believing in me.</span><p>
    <span style="font-size: 8pt">&nbsp;- Gao Guangyan<br>
    <br>
     </font></span></td>
    </tr>
    <tr>
      <td width="525" valign="bottom">
    <p align="right">
    <img border="0" src="front/contact.png" width="83" height="10"></p>
    <p align="right">
    <span style="font-size: 8pt">Email: loneoceans [at] gmail [dot] com<br>
    Facebook: <a target="_blank" href="http://www.facebook.com/loneoceans">
    http://www.facebook.com/loneoceans</a></span><br>
    <span style="font-size: 8pt">Resume: </span></td>
    </tr>
  </table>
      </div>
    </div>



<div id="centered" align="center"> 

  <table width = "1050px" border="0" style="border-collapse: collapse" cellpadding="0" cellspacing="0" height="423" >
    <tr><td colspan="2">
      <h1>Your first step into the tattoo world.</h1>
    </td></tr>

    <tr><td width = 60% style="padding-left:50px;">
                    
                    <table background="shared/blackt.png"><tr><td>
                     
                    <%= image_tag("shared/infographic.png", {:class=>"put classes here", :id=>'3'}) %>
                    <br>
                    <font color="#FFFFFF" face="Arial" size="2">RocketScienceInk kickstarts your 
                    tattooing process:</font>
                    <ul>
                      <font color="#FFFFFF" face="Arial" size="2"><li>Analyzes tattoos you like</font><font color="#FFFFFF"></li>
                      </font>
                      <font color="#FFFFFF" face="Arial" size="2"><li>Find our about your own 
                      personal style</font><font color="#FFFFFF"></li> </font>
                      <font color="#FFFFFF" face="Arial" size="2"><li>Browse from our database of 
                      artists</font></li>
                    </ul>
                    <font color="#FFFFFF" face="Arial" size="2">And best of all, it's free 
                    and will always be!</font>
                
                    <br><br><br><br>
    
                    </td></tr></table>
        
    
    </td><td width = 40%>
        



      <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" width="375" height="362">
        <tr>
          <td width="375" height="53" colspan="2"><%= image_tag("shared/logo_white.png", {:class=>"put classes here", :id=>'3'}) %> </td>
        </tr>
        <tr>
          <td width="375" height="27" colspan="2">
                

                
          </td>
        </tr>
        <tr>
          <td width="165" height="120"  valign="top"><span class="subheading">signup</span></td>
          <td width="*" height="120">
            <div class="signup-form">

              <%= form_for(@new_user) do |f| %>
              <!---<div class='error_message'><%= f.error_messages %></div>-->
              <!---<div class='error_message'><%= f.error_messages %></div>-->

              <div class='signup-fields'>




                <%= f.label :email, "Username", class: "inputLabel" %>
                <%= f.text_field :email, value: "", class: "inputLabel" %>
                
                <%= f.label :password, "Password" ,class: "inputLabel"  %>
                <%= f.password_field :password, value: ""%>
                
                <%= f.label :password_confirmation, "Retype Password" , class: "inputLabel" %>
                <%= f.password_field :password_confirmation, value: "" %>
               <br>
                <%= f.submit " SIGN-UP", class: "button"%>
                </div>


              
              <% end %>
            </div>

          </td>
        </tr>
        <tr>
          <td width="375" height="28" colspan="2"  valign="top">
            <span class ="subheading">browse</span><br />
            <span class = "loginCaption">Don't want to signup? Browse as guest.</span>
          </td>
        </tr>
        <tr>
          <td width="165" height="32">&nbsp;</td>
          <td width="*" height="32">
           <%= form_for(@new_user) do |f| %>
           <!---<div class='error_message'><%= f.error_messages %></div>-->
           <div class='signup-fields'>
            <br>
            <div align = left>
            <%= f.submit " BROWSE", class: "button"%>
            </div>
            <% end %>

            <div class = "loginSubs"><br>*your preferences will not be saved.</div>
          </tr>
          <tr height = "50"><td></td></tr>
        </table>

      </td></tr>
    </table>
  </div>



  <div id="bottoms" align="center" class="credits2"> 
    <a id="inline" href="#about"> about</a> &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp; copyright 2013 rocketscienceink
  </div>



  
  
  