


<div id="centered" align="center"> 

    <table width = "1050px" border="0" style="border-collapse: collapse" cellpadding="0" cellspacing="0" height="423" >
        <tr><td colspan="2">
            <h1>Your first step into the tattoo world.</h1>
        </td></tr>

        <tr><td width = 60%></td><td width = 40%>
        
        
        
        
            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" width="375" height="362">
            <tr>
              <td width="375" height="53" colspan="2"><%= image_tag("shared/logo_white.png", {:class=>"put classes here", :id=>'3'}) %> </td>
            </tr>
            <tr>
              <td width="375" height="27" colspan="2">
                
              </td>
            </tr>
            <tr>
              <td width="165" height="120"  valign="top"><span class="subheading">signup</span></td>
              <td width="*" height="120">
                <div class="signup-form">

                  <%= form_for(@new_user) do |f| %>
                  <!---<div class='error_message'><%= f.error_messages %></div>-->
                  
                  <div class='input'>
                   
                    <input type="text" name="email" value="username">
                    <br />
                    <input type="text" name="password" value="password">
                    <br />
                    <input type="text" name="password confrm" value="re-type password">
                    <br />
                    Kevin, how do we change the css for f.button? 
                    <br />
                    <div align = right><%= f.button "SIGNUP"%></div>
             
                  </div>
                  <% end %>
              </div>

              </td>
            </tr>
            <tr>
              <td width="375" height="28" colspan="2"  valign="top">
                <span class ="subheading">browse</span><br />
                <span class = "loginCaption">dont want to signup? browse as guest.</span>
              </td>
            </tr>
            <tr>
              <td width="165" height="32">&nbsp;</td>
              <td width="*" height="32">
                 <%= form_for(@new_user) do |f| %>
                  <!---<div class='error_message'><%= f.error_messages %></div>-->
                  <div class='signup-fields'>
                  <br>
                      <div align = right><%= f.button "BROWSE"%>
                  </div>
                  <% end %>
              
              <div class = "loginSubs"><br>your preferences will not be saved.</div>
            </tr>
            <tr height = "50"><td></td></tr>
          </table>

      </td></tr>
  </table>
</div>



<div id="bottoms" align="center" class="credits"> 
<a href=""> about</a> &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; <a href="">help</a> &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; copyright 2013 rocketscienceink
</div>



