
<div class = "main-container">
<div class = "content-container"> 

    <div class = "lemenubar">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="left">
    
    <tr height="50px">
    
    
    <td width = "100px"><a href="../users">
        <div class = "menubutton"><br>browse</div></a>
    </td>
    <td width = "100px"><a href="../artists/search">
        <div class = "menubutton"><br>artist search</div></a>
    </td>
    <td width = "100px">
        <div class = "menubuttonpressed"><br>profile</div>
    </td>
    
    <td width = "*">
        
    
    </td><td width = "200px" align="right">
    <a href =""><b> MY INKBOX &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   </b></a>
    </td></tr></table>
    </div>


        
    <%= image_tag("profile/tim.jpg", {:class=>"profile_picture", :id=>''}) %>
    
<h1 class="">Tim Beaver</h1>

<h2>Message</h2>
<p> Hi! I'm Tim the Beaver from MIT. I'm looking for ideas for my first tattoo.</p>

<h2>Preferred Style</h2>
<h3>Nature-Inspired Tattoos</h3>

<p>Popular among all ages, nature inspired tattoos aim to reflect this passion towards the natural. Nature, in the broadest sense, is equivalent to the natural world, physical world, or material world. "Nature" refers to the phenomena of the physical world, and also to life in general. It ranges in scale from the subatomic to the cosmic. The word nature is derived from the Latin word natura, or "essential qualities, innate disposition", and in ancient times, literally meant "birth". Natura was a Latin translation of the Greek word physis (φύσις), which originally related to the intrinsic characteristics that plants, animals, and other features of the world develop of their own accord. The concept of nature as a whole, the physical universe, is one of several expansions of the original notion; it began with certain core applications of the word φύσις by pre-Socratic philosophers, and has steadily gained currency ever since. This usage was confirmed during the advent of modern scientific method in the last several centuries.  </p>

<h2>Artist I Liked</h2>

<% Artist.all[0,2].each do |artist| %>

<div class="artist-suggestion" id="<%= artist.id %>">
	
	<h2><%= artist.name %></h2>
	<h2><%= artist.address1 %></h2>
	<h2><%= artist.email %></h2>

	2 images by this artist:
	<% @images = [] %>
	<% @images.push(Image.find(artist.id*6)) %>
	<% @images.push(Image.find(artist.id*6+1))%>

	<% @images.each do |image| %>
	<%= image_tag(image.path + image.name, {class: "class", id: "id"}) %>
	<% end %>

	Add like button!
</div>

<% end %>

<p>View my inkbox?</p>


</div></div>