



<div class = "main-container" id="contz">
<div class = "content-container" style="display:table;" > 

    <div class = "lemenubar">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="left">
    
    <tr height="50px">
    
    
    <td width = "100px"><a href="../">
        <div class = "menubutton"><br>browse</div></a>
    </td>
    <td width = "100px"><a href="../artists/search">
        <div class = "menubutton"><br>artist search</div></a>
    </td>
    <td width = "100px">
        <div class = "menubuttonpressed"><br>profile</div>
    </td>
    
    <td width = "*">
        
    
    </td><td width = "200px" align="right"><!--
    <a href =""><b> MY INKBOX &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
   </b></a>
    </td></tr></table>
    </div>


    
<br> &nbsp;<br>


<% if @user != nil %>



<table width="100%"><tr><td width="10px"  height="10px">
        
</td><td width = "*" height="100px" style="vertical-align:bottom">
    
<div class="h4"><%= @user.email %></div>


</td></tr><p><p><p>
<td></td><td><p><hr><p>

<h2 style="color:black;">Preferred Style</h2>
<% if @category != nil %>
    <div class="titles2"><%= @category.name %> Tattoos</div>
    <p class="text"><%= @category.description %></p>
<% else %>
    <p>You haven't done the analysis yet. Go to the Browse page, select images, and hit analyze to find out.</p>
<% end %>

<p class="titles">Artists I liked</p>
<% if @artists.size == 0 %>
    <p>You haven't liked any artists yet. Go to the Search page to find artists.</p>
<% else %>






<% @index = 0 %>
<% while @index < @artists.size %>

    <table border ="0">
        <tr>
            <div style="display:table;">
                
                <% @artists[@index,2].each do |artist| %>
                    <span style="display:table;">
                    <td class="artist-suggestion" id="<%= artist.id %>">
                        <td width="200px">
                            <center><font color="#444444">
                            <b><%= artist.name %></b><br>
                            <%= artist.address1 %><br>
                            <%= artist.email %><br>
                            <br>
                                <% if session[:user_id] > 0 %><% if artist.users.exists?(session[:user_id]) %><div class="liked like-button" onclick="like_button_func()" id="<%= artist.id %>"></span><% else %><div class="like like-button"  onclick="like_button_func()" id="<%= artist.id %>"></span><% end%><% else %><p class="liked22">Sign-up to Like this Artist!</p><% end %> 
                            </center>
                            </td>
                            <td>
                                <%= image_tag(artist.profile_picture, {class: "",style:"width:200px"})%>
                                <br>
                                <% artist.images.sample(2).each do |image| %>
                                <%= image_tag(image.path + image.name, {class: "medium", id: image.id}) %>
                                <% end %>
                            </td>
                    </span>
                <% end %>

            </div>
        </tr>
    </table>

<% @index = @index + 2 %>
<% end %>














<% end %>

</td>
</table>

<% else %>
    <center>
    <p class="titles">
    Hi Guest!
    <br><br>
    
     <%= image_tag("profile/tim.jpg", ) %>
    <br>
    
    
    Looks like you're not signed in! <br>
    
    This is the profile page where you can view your artist selections <br>
    and your preferred style based on the analysis (if you sign up!)<br>
    <br><strong>
        <a href="../login">Sign up</a></strong> for free today! 
    
    </p></center>

    <div class="message">
        
    </div>

<% end %>

</div></div>