







<div class = "main-container">
<div class = "content-container"> 
<!-- 5% margins on either side -->


    
    <div class = "lemenubar">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="left">
    
    <tr height="50px">
    
    
    <td width = "100px">
        <div class = "menubuttonpressed"><br>browse</div>
    </td>
    <td width = "100px">
        <div class = "menubutton"><br>artist search</div>
    </td>
    <td width = "100px">
        <div class = "menubutton"><br>profile</div>
    </td>
    
    <td width = "*">
        
    
    
    
    
    
    
    </td><td width = "200px" align="right">
    <a href =""><b> MY INKBOX &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   </b></a>
    </td></tr></table>
    </div>
    
    
    
    <br>
    <table width="100%"><tr><td width = "*">
    <div class = "artwork-container">
    <!-- *% wide -->
    <%= image_tag("example/1asian1.jpeg", {:class=>"put classes here", :id=>'3'}) %> 
    
    
    <!-- CODE FOR IMAGES HERE -->
    
    
    
    
    
    
    
    </div>
    </td><td width = "368px">
    <div class = "inkbox-container">
    <!-- fixed wide -->
    <div class = "topbox"></div>
    <div class = "inkbox">
    
    
    
    
    <!-- CODE FOR INKBOX HERE -->
    
    <br /><br />
    <center> <%= image_tag("shared/analyze.png", {:class=>"put classes here", :id=>'3'}) %>
    <div class = "boxnotice">
    drag your favourite tattoos here<br>
    or trash bad ones in the bin
    </div>
    
    <br /><br />
    <%= image_tag("example/1asian1.jpeg", {:class=>"put classes here", :id=>'3'}) %> 
    <%= image_tag("example/1asian1.jpeg", {:class=>"put classes here", :id=>'3'}) %> 
    
    
     </center>
    <br /><br />
    
    <%= image_tag("shared/bin.png", {:class=>"dustbin", :id=>'3'}) %>
    
    
    
    
    </div>
    </div>
    
    <div class"clear"></div>
    </td></tr></table>
</div>
</div>



