<div style="padding: 40px; background-image: url('assets/shared/bgg.jpg')">

    
    <%= image_tag("shared/analysis.png", ) %>

	<h4 style="color: grey;">Based on your selection of images, we think that your preferred style is:</h4>

	<h3 class="titles2" ><%= @category.name %> Tattoos</h3>

	<p style="color: grey;"> <%= @category.description %> </p>

	<% @samples.all.each do |image| %>
	<%= image_tag(image.path + image.name, {class: "medium", id: "id"}) %>
	<% end %>

    <hr>
    
	<p class = "titles" style="color: grey;"> Artists we think you'll like: </p>

	<div style="display:table;">
	<% @artists.all.each do |artist| %>
	<span style="display:table;">
	<table>
	<tr class="artist-suggestion" id="<%= artist.id %>">
		<td>
		<p class="h5"><b><%= artist.name %></b><br>
		<%= artist.address1 %><br>
		<%= artist.email %></p><br>
	</td>


		<td>
		

		<%= image_tag(artist.profile_picture, {class: "",style:"width:200px"})%>
		<br>
            <% if session[:user_id] > 0 %>
                <% if artist.users.exists?(session[:user_id]) %>
                    <span class="liked" id="<%= artist.id %>"></span>
                <% else %>
                    <span class="like"  id="<%= artist.id %>"></span>
                <% end%>
            <% else %>
                <span class="signup-link">signup to like</span>
            <% end %>
</td>
</tr>
</table>
</span>
	<% end %>
	</div>

</div>