<div style="padding: 40px; background-image: url('assets/shared/bgg.jpg')">

    
    <%= image_tag("shared/analysis.png", ) %>

	<h4 style="color: grey;">Based on your selection of images, we think that your preferred style is:</h4>

	<h3 class="titles2" ><%= @category.name %> Tattoos</h3>

	<p style="color: grey;"> <%= @category.description %> </p>

	<% @samples.all.each do |image| %>
	<%= image_tag(image.path + image.name, {class: "medium", id: "id"}) %>
	<% end %>


	<h4 style="color: grey;"> Artists we think you'll like: </h4>

	<% @artists.all.each do |artist| %>

	<div class="artist-suggestion" id="<%= artist.id %>">
		
		<h2><%= artist.name %></h2>
		<h2><%= artist.address1 %></h2>
		<h2><%= artist.email %></h2>

		2 images by this artist:
		<% @images = [] %>
		<% @images.push(Image.find(artist.id*6)) %>
		<% @images.push(Image.find(artist.id*6+1))%>

		<% @images.each do |image| %>
		<%= image_tag(image.path + image.name, {class: "medium", id: "id"}) %>
		<% end %>

            <% if session[:user_id] > 0 %>
                <% if @artist.users.exists?(session[:user_id]) %>
                    <div class="like"  id="<%= @artist.id %>">liked</div>
                <% else %>
                    <div class="liked" id="<%= @artist.id %>">like</div>
                <% end%>
            <% else %>
                <div class="signup-link">signup to like</div>
            <% end %>
	</div>

	<% end %>

</div>