<div style="padding: 40px; background-image: url('assets/shared/bgg.jpg')">

    
    <%= image_tag("shared/analysis.png", ) %>

	<h4 style="color: grey;">Based on your selection of images, we think that your preferred style is:</h4>

	<h3 class="titles2" ><%= @category.name %> Tattoos</h3>

	<p style="color: grey;"> <%= @category.description %> </p>

	<% @samples.all.each do |image| %>
	<%= image_tag(image.path + image.name, {class: "medium", id: "id"}) %>
	<% end %>

    <hr>
    
	<p class = "titles" style="color: grey;"> Artists we think you'll like: </p>
    <center>
<table border ="0">
<tr>
	<div style="display:table;">
	<% @artists.each do |artist| %>
	<span style="display:table;">
    
    
	<t class="artist-suggestion" id="<%= artist.id %>">
        
		<td width="200px"><center><font color="#444444">
		<b><%= artist.name %></b><br>
		<%= artist.address1 %><br>
		<%= artist.email %><br>
        
        

            
            <br>

            <% if session[:user_id] > 0 %>
                <% if artist.users.exists?(session[:user_id]) %>
                    <div class="liked like-button"  id="<%= artist.id %>"></span>
                <% else %>
                    <div class="like like-button"   id="<%= artist.id %>"></span>
                <% end%>
            <% else %>
                <p class="liked22">Sign-up to Like this Artist!</p>
            <% end %> 

            
            
            
            
            </center>
	</td>


		<td>
		

		<%= image_tag(artist.profile_picture, {class: "",style:"width:200px"})%>
		<br>
            

    <% artist.images.sample(2).each do |image| %>
    	<%= image_tag(image.path + image.name, {class: "medium", id: image.id}) %>
    <% end %>

</td>




</span>
	<% end %>
    </tr>
    </table>
	</div>
</center>
</div>

  <hr>
  
 <p align = "right"> 
<%= image_tag("shared/logo_blacksm.png", ) %> &nbsp;&nbsp;&nbsp;&nbsp;</p>