<!DOCTYPE html>
<%= include_gon %>

<html>
<head>
  <title>RocketScienceInk</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<!-- Exclude header and footer on login page-->
	<% if !current_page?(login_path) %>
		<%= render 'layouts/header' %>
	<% end %>

	<%= yield %>

	<% if !current_page?(login_path) %>
	    <%= render 'layouts/footer' %>
	<% end %>

</body>
</html>
